body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 60px;
    padding: 26px;
    margin: 20px;
    cursor: pointer;
}

.result {
    font-size: 30px;
}

.js-move img {
    width: 30px;
    vertical-align: middle;
}
.js-resset,
.auto-play-button{
    padding:8px 12px;
    font-size:13px;
}